PORT=5000
ARC_RPC_URL=https://testnet.arcscan.app/rpc
# Add other keys like Gemini API key and DB URL later - AIzaSyAq6w1Nk_LWuFVlG0xqZz2cA6juXGMMOhY

# PVT_key=0xf9334b27cfb27b8cbbe7b0636092ac56d50b04e099cfd3c3bf19aa293d363c7c
